<#attempt>
<section>
    <div>
        <div class="product-title">
            <div>
                <h1>${Name!"No Name"}</h1>
                <h3>${description!""}</h3>
                <p>${ID!""}</p>
                <p>
                    <button onclick="window.location.reload()">Reload</button>
                </p>
            </div>
        </div>
    </div>
</section>
<table>
    <tr>
        <td style="width: 300px;">
            <section>
                <div>
                    <div class="product-details">
                        <#include 'nutrition.html'>
                    </div>
                </div>
            </section>
        </td>
        <td>
            <section>
                <div>
                    <div class="product-images">
                        <div>
                            <#if Image??>
                                <div class="product-image product-image-selected" style="background-image: url(${Image});"></div>
                           	<#else>
                                <h2>No Images</h2>
                            </#if>
                            <div>${Image!""?replace("=2400", "=480")}</div>
                            <#if (alt_image?size>0)>
                                <#list alt_image as altimage>
                                    <div onclick="$(this).addClass('selected').siblings().removeClass('selected'); $('.product-image-selected').css({backgroundImage:'url(${altimage})'})" class="product-image product-image-thumb" style="background-image: url(${altimage});"></div>
                                </#list>
                            </#if>
                        </div>
                    </div>
                </div>
            </section>
        </td>
    </tr>
</table>
<#recover>
	Error<hr>
	${.error}
</#attempt>
